.size-40 {
    width: 40%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon::after {
    background-size: cover;
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    float: right;
    margin: auto;
    margin-right: 0px;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding: 0px;
}

.Big::after {
    width: 10rem !important;
    height: 10rem !important;
}

.HideBootstrap {
    display: none !important;
    content: "";
}

.auto {
    margin: auto;
}

.textCenter {
    text-align: center;
}

.Def4090 {
    width: 40%;
    margin: auto;
}

.Def6090 {
    width: 60%;
    margin: auto;
}

p.text * {
    margin: 0;
    padding: 0;
}

p.text ol li {
    list-style: decimal;
}

p.text li::before {
    width: 0rem;
}

p.text ul li {
    list-style: circle;
}

p.text tr,
th {
    border-color: black;
    margin: 0.5em !important;
    padding: 0.25em !important;
    border-width: 0.1rem;
}

p.text tbody {
    border-color: black;
    border-width: 0.20rem;
}

@media screen and (max-width:992px) {
    .Def6090 {
        width: 90%;
    }
    .Def4090 {
        width: 90%;
    }
}