li {
    list-style: none;
}

li::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    margin-left: 0px;
    float: left;
    margin: auto;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-right: 0.5rem;
}

.User::before {
    background-image: url("../../Svg/User.svg");
    background-size: cover;
}

.Blog::before {
    background-image: url("../../Svg/Blog.svg");
    background-size: cover;
}